* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: rgba(11, 12, 27, 0.85);
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #000;
    padding: 15px 0;
    position: fixed;
    top: 0;
    font-size: bold;

}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar ul li a:hover {
    color: #20e0ff;
}

.active {
    color: #20e0ff;
}

/* HEADER */
.header {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

.header h1 {
    color:white;
    font-size: 40px;
    margin-bottom: 10px;
}
.header p{
    color:white;
}

.diet-container {
    color:white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 140px;
    padding: 40px;
}

.diet-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.diet-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.diet-card img {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
}

.diet-card h3 {
    color:black;
    margin: 15px 0;
    font-size: 20px;
}

.diet-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    background: #000;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.diet-card a:hover {
    background: #20e0ff;
    color: rgb(27, 17, 118);
}
