*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-image: url('gymbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-color: #083343;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #000;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.navbar ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #00eaff;
}

/* HEADER */
.header {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
}

.header h1 {
    font-size: 40px;
    color: white;
}

.header p {
    color: #fff;
    font-size: 18px;
    margin-top: 8px;
}

/* SECTION */
.section {
    padding: 30px 60px;
}

.section h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 0 10px black;
}

/* WORKOUT CARDS */
.workout-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.workout-card {
    width: 30%;
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.workout-card img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.workout-card h3 {
    margin-top: 10px;
    font-size: 22px;
    color: #0078a4;
}

.workout-card p {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
}

/* FOOTER */
.footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background: #000;
    color: #fff;
}
